body {
    font-weight: 800;
    font-size: larger;
    color: #fff;
    background-image: url("../img/placeholder_hi-res.jpg");
    background-size: cover;
    opacity: 90%;
}

/*Todo Styles*/
/*Element Selectors*/
form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.2em;
    font-size: 1.5rem;
    border: solid 0.5px white;
    background-color: white;
}
ul button {
    background:bottom;
    border: solid 0.0px rgb(139, 115, 115);
    font-size: 1rem;
    padding: 0.2rem;
}
form button:hover {
    background:cadetblue;
}

input {
    border-radius: 2px 0 0 2px;
    width: 70%;
}
/*Class Selectors*/
.todo-button{
    border-radius: 0px 2px 2px 0px;
    cursor:pointer;
   
}
.complete-button {
    cursor:pointer;

}

.trash-button {
    cursor: pointer;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
width: 80%;
}

.todo {
    margin: 1rem;
    padding: 0.2rem;
    background: bottom;
    border: solid 1px cadetblue;
    background-color: white;
    display: flex;
    transition: all 0.3s ease;
    justify-content: space-betweens;
    align-items: center;
    border-radius: 2px;
}

.todo li {
    flex:1;
}
.todo-item {
    padding: 0 8px;
}

/*.fa-trash,.fa-check {
    pointer-events: none;
}*/

.completed {
    opacity: 50%;
    text-decoration:line-through;

}



/*Todo Styling Ends Here*/

.welcome-msg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.daily-weather {
    display: flex;
    flex-direction: row;
}

.daily-weather-sub {
    display: flex;
    flex-direction: row;
}

.weekForecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.forecastContent {
    text-align: center;
}

.date-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
}

.time-text-size {
    font-size: 36px;
}

.box {
    background-color: rgba(255, 255, 255, 0.7);
}

.box-forecast {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.stock-news {
    display: flex;
    flex-direction: column;
}

 .login{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

.userInfo {
    display: none;
    position: absolute;
    left: 50px;
    width: 30%;
}

.fa-plus-square:before {
    opacity: 20%;
}

