html {
    height: 100vh;
}

body {
    min-height: 100vh;
    font-weight: 800;
    font-size: larger;
    color: #fff;
    background-image: url("../img/placeholder_hi-res.jpg");
    background-size: cover;
    opacity: 90%;
}

/*Todo Styles*/
/*Element Selectors*/
form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.2em;
    font-size: 1.5rem;
    border: solid 1.5px cadetblue;
    background:bottom;
}
ul button {
    background:bottom;
    border: solid 1.5px cadetblue;
    font-size: 1rem;
    padding: 0.2rem;
}
form button:hover {
    background:cadetblue;
}

input {
    border-radius: 8px 0 0 8px;
    width: 70%;
}
/*Class Selectors*/
.todo-button{
    border-radius: 0px 8px 8px 0px;
    cursor:pointer;
   
}
.complete-button {
    cursor:pointer;

}

.trash-button {
    cursor: pointer;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
width: 80%;
}

.todo {
    margin: 1rem;
    padding: 0.2rem;
    background: bottom;
    border: solid 1.5px cadetblue;
    display: flex;
    transition: all 0.3s ease;
    justify-content: space-betweens;
    align-items: center;
    border-radius: 7px;
}

.todo li {
    flex:1;
}
.todo-item {
    padding: 0 8px;
}

/*.fa-trash,.fa-check {
    pointer-events: none;
}*/

.completed {
    opacity: 50%;
    text-decoration:line-through;

}



/*Todo Styling Ends Here*/

.welcome-msg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.weather-icon {
    text-align: center;
}

.uvi {
    border-radius: 3px;
}

/* UVI bg color */
.uvi-low {
    background-color: rgba(0, 131, 1, 0.8);
}

.uvi-medium {
    background-color: rgba(253, 255, 0, 0.8);
    color: black;
}

.uvi-high {
    background-color: rgba(255, 161, 0, 0.8);
    color: black;
}

.uvi-very-high {
    background-color: rgba(255, 0, 0, 0.8);
}

.uvi-extreme {
    background-color: rgba(141, 0, 132, 0.8);
}

.forecastContent {
    text-align: center;
}

.date-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    white-space: nowrap;
}

.time-text-size {
    font-size: 36px;
}

.full-height {
    height: calc(100vh - 448px);
}

.box {
    background-color: rgba(255, 255, 255, 0.7);
}

.scrollbox {
    overflow: auto;
}

.stock-news {
    display: flex;
    flex-direction: column;
}

/* Megan will address this */
 /* main{
    display: flex;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 } */

 .login{
     display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: center;
 }

.userInfo {
    display: none;
    position: absolute;
    left: 50px;
}